<%= link_to 'Home', "http://localhost:3000/" %>
<%= link_to 'All Teams', teams_path %>

<h1>Edit Team</h1>

<%= form_for @team do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :member_ids %>
  <%= f.collection_select :member_ids, Member.all, :id, :first_name, {}, { multiple: true } %>

  <%= f.submit 'Update Team' %>
<% end %>