<%= link_to 'Home', "http://localhost:3000/" %>
<%= link_to 'All Projects', projects_path %>

<h1>New Project</h1>

<%= form_for @project do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :member_ids %>
  <%= f.collection_select :member_ids, Member.all, :id, :first_name, {}, { multiple: true } %>

  <%= f.submit 'Create Project' %>
<% end %>