<%= link_to 'Home', "http://localhost:3000/" %>
<%= link_to 'All Members', members_path %>

<h1>Edit Member</h1>

<%= form_for @member do |f| %>
  <%= f.label "First Name*" %>
  <%= f.text_field :first_name %>

  <%= f.label "Last Name*" %>
  <%= f.text_field :last_name %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :country %>
  <%= f.text_field :country %>

  <%= f.label "Team*" %>
  <%= f.collection_select :team_id, Team.all, :id, :name %>

  <%= f.label "Projects" %>
  <%= f.collection_select :project_ids, Project.all, :id, :name, {}, { multiple: true } %>

  <%= f.submit 'Update Member' %>
<% end %>